# --index-url https://pypi.tuna.tsinghua.edu.cn/simple
--index-url https://mirrors.aliyun.com/pypi/simple

torch==2.5.1
vllm==0.7.3
transformers==4.49.0
accelerate==1.0.1
uvicorn
fastapi
langchain
langchain_huggingface
langchain_community
pydantic
asyncio
sse_starlette
